@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    line-height: 1;
    color: #333;
    
    font-family: 'Pretendard-Regular';
}
html {
    font-size: 62.5%;
}
.section01 {
    max-width: 1920px;
    width: calc(100% - 0);
    margin: 0 auto;
    position: relative;
}
.section01 .swiper .swiper-wrapper .swiper-slide video{
    width: 100%;
    height: 46.87vw;
    object-fit: cover;
    z-index: 0;
    

}
.section01 .swiper .swiper-pagination {
    margin-left: 75%;
    margin-bottom: 4.16%;
}

.section01 .swiper .swiper-wrapper .swiper-slide video img {
    
   
}
.swiper-horizontal>.swiper-pagination-bullets {
    
    display: flex;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 3.5rem;
    height: 2rem;
    text-align: center;
    margin: 0 0.5%;
    border-radius: 1rem;
    border: 1px solid #fff;
    line-height: 2rem;
    color: #fff;
}



.section01 .header {
    
}

.section01 .header .inner {
    max-width: 1920px;
    width: calc(100% - 10rem);
    
    margin: 0 auto;
}
.section01 .header .inner01 {
    height: 4.16vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section01 .header .inner01 .logo {
    width: 6.59%;
    height: 2.19vw;
}
.section01 .header .inner01 .logo img {
    width: 100%;
    height: 100%;
}
.section01 .header .inner01 .nav {
    
}
.section01 .header .inner01 .nav ul {
    display: flex;
    align-items: center;
    
} 
.section01 .header .inner01 .nav ul li {
    padding: 0 4rem;
    font-size: 1.6rem;
}
.section01 .header .inner01 .icon {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}
.section01 .header .inner01 .icon figure {
    width: 2.4rem;
    height: 2.4rem;
    
    
}

.section01 .header .inner01 .icon figure img {
    width: 100%;
    height: 100%;
}

.section01 .header .inner02 {
    
    height: 16.66vw;
    display: none;
    
}
.section01 .header .inner02 .box {

    display: flex;
}
.section01 .header .inner02 .box .item {
    width: 16.66%;
    padding: 2.08% 0 0 2.08%;
    
}
.section01 .header .inner02 .box .item ul li {
    font-size: 1.8rem;
}
.section01 .header .inner02 .box .item ul li:nth-child(1) {
    font-size: 2.4rem;
    margin-bottom: 10px;
}
.section01 .header:hover .inner02 {
    display: block;
}

.section01 video img {
    object-fit: cover;
}
.section01 .wrap {
    
    width: 55%;
    height: 10.41vw;
    margin: 0 auto;
    position: absolute;
    bottom: 15%;
    left: 23%;
    display: flex;
    gap: 2%;
    z-index: 1;
}
.section01 .wrap figure {
    width: 100%;
    height: 100%;
}
.section01 .wrap figure img {
    width: 100%;
    height: 100%;
    
}
.section01 .bar {
    position: absolute;
    top: 50%;
    right: 5px;

    transform: translateY(-50%);
   
    z-index: 99999999999999999999999999999;
}
.section01 .bar ul {
    
}
.section01 .bar ul li {
    
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #FFF;
    margin: 1.5rem 1rem;
}
.section01 .bar ul li:hover  {
    background-color: #ff0000;
}
.section02{
    height: 50vw;
}
.section02 .inner {
    max-width: 1920px;
    width: calc(100% - 26%);

    margin: 0 auto;
    
}

.section02 .inner .text {
    text-align: center;
    margin: 8.64% 0 4.16%;
    
}
.section02 .inner .text h2 {
    font-size: 7rem;
    margin: 7% 0;
    
}
.section02 .inner .text h4 {
    font-size: 3rem;
    margin-bottom: 2.6%;
    
}


.section02 .inner .swiper-slide  {
    width: 100%;
    height: 23.43vw;
    margin-bottom: 7.81%;
    

}
.section02 .inner .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.section02 .inner div h5 {
    font-size: 1.6rem;
    margin: 0 0 5.2% 46.87%;
    white-space: nowrap;
    /* ...표현 */
    text-overflow: ellipsis;
    overflow: hidden;
}

.section03 {
    max-width: 1920px;
    width: calc(100% - 20px);
    position: relative;
}
.section03 .swiper {
    width: 40.36%;
    position: absolute;
    top: 50%;
    left: 15.62%;
    transform: translateY(-50%);
    
}
.section03 .swiper .swiper-wrapper .swiper-slide {
    width: 100%;
    height: 26vw;
}
.section03 .swiper .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section03 .box {
    width: 100%;
    height: 52vw;
    display: flex;

    
}
.section03 .box .item01 {
    width: 50%;
    height: 100%;

}
.section03 .box .item01 figure {
    width: 100%;
    height: 100%;

}
.section03 .box .item01 figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.section03 .box .item02 {
    width: 40%;
    height: 52vw;
    margin: 8% 0 0 10%;
    
}
.section03 .box .item02 .nav ul {
    display: flex;
    align-items: center;
    gap: 2%;
    margin-bottom: 5%;
}
.section03 .box .item02 .nav ul li {
    font-size: 1.6rem;
}
.section03 .box .item02 h1 {
    font-size: 8rem;
    margin-left: 11.45%;
    white-space: nowrap;
    /* ...표현 */
    text-overflow: ellipsis;
    overflow: hidden;
} 
.section03 .box .item02 h3 {
    font-size: 4.8rem;
    margin: 10% 0;
    white-space: nowrap;
    /* ...표현 */
    text-overflow: ellipsis;
    overflow: hidden;
}
.section03 .box .item02 p {
    font-size: 1.6rem;
    line-height: 1.2;
    white-space: nowrap;
    /* ...표현 */
    text-overflow: ellipsis;
    overflow: hidden;
   
}

.section04 {
    max-width: 1920px;
    width: calc(100% - 0);
    margin: 0 auto;
}
.section04 h1 {
    font-size: 8.6rem;
    margin: 13% 0 2.6% 0;
    text-align: center;
}

.section04 .sns {
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6%;
    margin-bottom: 1.56%;
}
.section04 .sns .item {
    display: flex;
    align-items: center;
    gap: 1rem;
    
    
}
.section04 .sns .item img {
    width: 2.2rem;
    height: 2.2rem;
}
.section04 .sns .item span {
    padding: 0 1rem;
}
.section04 .sns .item strong {
    font-size: 1.6rem;
}
.section04 .wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1.5rem;
    margin: 5% 20%;
}
    
.section04 .wrap figure {
    width: 19%;
    height: 13vw;
    border-radius: 10%;
    overflow: hidden;
    
}
.section04 .wrap figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    max-width: 1920px;
    width: calc(100% - 0rem);
    margin: 0 auto;
    text-align: center;
}
.footer strong {
    font-size: 1.6rem;
}
.footer figure {
    width: 84px;
    height: 35px;
    margin: 3rem auto;
}
.footer figure img {
    width: 100%;
    height: 100%;
}

.footer .text01 ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .text01 ul li {
    font-size: 2rem;
    margin-bottom: 1.56%;
}
.footer .text01 ul span {
    margin: 0 2rem;
}
.footer .text02 ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .text02 ul {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.footer .text02 ul span {
    margin: 0 1rem;
}
.footer .sns_wrap {
    
    
    
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
    
    
}
.footer .sns_wrap .sns1 {
    
    
    display: flex;
    align-items: center;
    
}
.footer .sns_wrap .sns1 .sns_icon {
    width: 2.3rem;
    height: 2.3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 1.5rem;
    
}

.footer .sns_wrap .sns1 .sns_icon img {
    width: 100%;
    height: 100%;
    
}
.footer .sns_wrap .sns1 p {
    margin-right: 1.6rem;
}
.footer .sns_wrap .sns2 {
    
}
.footer .sns_wrap .sns2  {
    width: 15rem;
    height: 2.2vw;
    border: 2px solid #999;
    margin-left: 10rem;
   
} 
.footer .sns_wrap .sns2 p {
    font-size: 1rem;
    line-height: 2.2vw;
    text-align: center;
    
}

.footer .sns_wrap .sns3 {
   
}
.footer .sns_wrap .sns3 figure {
    width: 8rem;
    height: 7.4rem;
    
}
.footer .sns_wrap .sns3 figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
@media screen and (max-width:1300px) {
    
}

@media screen and (max-width:960px){
    html {
        font-size: 50%;
    }
    
    }
 /* 960px end */
@media screen and (max-width:730px) {
    .section01 .header .inner01 .icon figure {
        
    }

    html{
        font-size: 35%;
    }

}
@media screen and (max-width:500px) {
    html {
        font-size: 25%;
    }
    .footer .sns_wrap .sns2 {
        display: none;
    }
}
@media screen and (max-width:390px) {
    
   .section {
   
   }

}













